Repository lumapps/design-system, pull requests merged in 2020-01, with the labels that each got.

#290 feat: use expansion panels for proptable
  packages/site-demo/src/layout/PropTable.tsx
  packages/site-demo/src/style/components/_asset-block.scss
  packages/site-demo/src/style/components/_demo-block.scss
  packages/site-demo/src/style/components/_demo-colors.scss
  packages/site-demo/src/style/components/_demo-grid.scss
  packages/site-demo/src/style/components/_prop-table.scss
  packages/site-demo/src/style/lumapps.scss
  packages/site-demo/src/style/material.scss
Labels: need: test

#297 fix(text-field): fix access to native input type prop
  CHANGELOG.react.md
  packages/lumx-react/src/components/autocomplete/Autocomplete.tsx
  packages/lumx-react/src/components/autocomplete/__snapshots__/Autocomplete.test.tsx.snap
  packages/lumx-react/src/components/text-field/TextField.test.tsx
  packages/lumx-react/src/components/text-field/TextField.tsx
  packages/lumx-react/src/index.ts
  packages/site-demo/content/product/components/text-field/react/text-area-invalid.tsx
  packages/site-demo/content/product/components/text-field/react/text-area-valid.tsx
  packages/site-demo/content/product/components/text-field/react/text-area.tsx
Labels: need: test

#288 feat(message): add Message component in react with tests
  CHANGELOG.md
  packages/lumx-react/src/components/message/Message.stories.tsx
  packages/lumx-react/src/components/message/Message.test.tsx
  packages/lumx-react/src/components/message/Message.tsx
  packages/lumx-react/src/components/message/__snapshots__/Message.test.tsx.snap
  packages/lumx-react/src/index.ts
Labels: need: test

#296 fix(select/dropdown): keyboard ctrl
  CHANGELOG.md
  packages/lumx-react/src/components/autocomplete/Autocomplete.stories.tsx
  packages/lumx-react/src/components/autocomplete/Autocomplete.tsx
  packages/lumx-react/src/components/autocomplete/AutocompleteMultiple.stories.tsx
  packages/lumx-react/src/components/autocomplete/__snapshots__/Autocomplete.test.tsx.snap
  packages/lumx-react/src/components/dropdown/Dropdown.tsx
  packages/lumx-react/src/components/list/List.tsx
  packages/lumx-react/src/components/popover/Popover.tsx
  packages/lumx-react/src/components/select/Select.test.tsx
  packages/lumx-react/src/components/select/Select.tsx
  packages/lumx-react/src/components/select/__snapshots__/Select.test.tsx.snap
  packages/lumx-react/src/components/tooltip/Tooltip.tsx
  packages/lumx-react/src/hooks/index.tsx
  packages/lumx-react/src/hooks/useChipGroupNavigation.tsx
  packages/lumx-react/src/hooks/useFocusOnClose.tsx
  packages/lumx-react/src/hooks/useFocusOnOpen.tsx
  packages/lumx-react/src/hooks/useKeyboardListNavigation.tsx
  packages/site-demo/content/product/components/autocomplete/react/default.tsx
  packages/site-demo/content/product/components/autocomplete/react/multiple.tsx
  packages/site-demo/content/product/components/select/react/multi-select-chip.tsx
  packages/site-demo/content/product/components/select/react/multi-select-search.tsx
  packages/site-demo/content/product/components/select/react/multi-select.tsx
  packages/site-demo/content/product/components/select/react/select-chip.tsx
  packages/site-demo/content/product/components/select/react/single-select.tsx
  packages/site-demo/content/product/components/select/react/validation-invalid.tsx
  packages/site-demo/content/product/components/select/react/validation-valid.tsx
Labels: need: test

#300 chore: update storybook and simplify its setup
  packages/lumx-react/.storybook/addons.js
  packages/lumx-react/.storybook/config.js
  packages/lumx-react/.storybook/main.js
  packages/lumx-react/.storybook/preview.js
  packages/lumx-react/.storybook/story-block/StoryBlock.tsx
  packages/lumx-react/.storybook/story-block/decorator.jsx
  packages/lumx-react/.storybook/story-block/styles.js
  packages/lumx-react/.storybook/story-block/useInjectTheme.ts
  packages/lumx-react/package.json
  packages/lumx-react/src/components/autocomplete/Autocomplete.stories.tsx
  packages/lumx-react/src/components/autocomplete/AutocompleteMultiple.stories.tsx
  packages/lumx-react/src/components/avatar/Avatar.stories.tsx
  packages/lumx-react/src/components/badge/Badge.stories.tsx
  packages/lumx-react/src/components/button/Button.stories.tsx
  packages/lumx-react/src/components/checkbox/Checkbox.stories.tsx
  packages/lumx-react/src/components/date-picker/DatePicker.stories.tsx
  packages/lumx-react/src/components/icon/Icon.stories.tsx
  packages/lumx-react/src/components/input-helper/InputHelper.stories.tsx
  packages/lumx-react/src/components/input-label/InputLabel.stories.tsx
  packages/lumx-react/src/components/message/Message.stories.tsx
  packages/lumx-react/src/components/progress-tracker/ProgressTracker.stories.tsx
  packages/lumx-react/src/components/radio-button/RadioButton.stories.tsx
  packages/lumx-react/src/components/radio-button/RadioGroup.stories.tsx
  packages/lumx-react/src/components/select/Select.stories.tsx
  packages/lumx-react/src/components/slider/Slider.stories.tsx
  packages/lumx-react/src/components/switch/Switch.stories.tsx
  packages/lumx-react/src/components/text-field/TextField.stories.tsx
  packages/lumx-react/src/story-block/StoryBlock.jsx
  packages/lumx-react/src/story-block/decorators.js
  packages/lumx-react/src/story-block/index.jsx
  yarn.lock
Labels: need: dev-frontend

#295 refactor(dialog): improve dialog
  CHANGELOG.md
  packages/lumx-angularjs/src/components/dialog/dialog.html
  packages/lumx-angularjs/src/components/dialog/dialog_directive.js
  packages/lumx-core/src/js/utils.d.ts
  packages/lumx-core/src/scss/components/dialog/lumapps/_index.scss
  packages/lumx-react/src/components/autocomplete/Autocomplete.tsx
  packages/lumx-react/src/components/dialog/Dialog.stories.tsx
  packages/lumx-react/src/components/dialog/Dialog.test.tsx
  packages/lumx-react/src/components/dialog/Dialog.tsx
  packages/lumx-react/src/components/dialog/__snapshots__/Dialog.test.tsx.snap
  packages/lumx-react/src/components/dropdown/Dropdown.test.tsx
  packages/lumx-react/src/components/dropdown/Dropdown.tsx
  packages/lumx-react/src/components/list/ListItem.tsx
  packages/lumx-react/src/components/select/Select.tsx
  packages/lumx-react/src/hooks/index.tsx
  packages/lumx-react/src/hooks/useCallbackOnEscape.ts
  packages/lumx-react/src/hooks/useFocus.tsx
  packages/lumx-react/src/hooks/useFocusOnClose.tsx
  packages/lumx-react/src/hooks/useFocusOnOpen.tsx
  packages/lumx-react/src/hooks/useFocusTrap.ts
  packages/lumx-react/src/hooks/useIntersectionObserver.tsx
  packages/site-demo/content/product/components/dialog/react/action.tsx
  packages/site-demo/content/product/components/dialog/react/default.tsx
  packages/site-demo/content/product/components/dialog/react/prevent-auto-dismiss.tsx
  packages/site-demo/content/product/components/dialog/react/scrollable.tsx
  packages/site-demo/content/product/components/dialog/react/sizes.tsx
Labels: need: test

#304 feat(image-block): add size prop
  packages/lumx-angularjs/src/components/image-block/image-block.html
  packages/lumx-angularjs/src/components/image-block/image-block_directive.js
  packages/lumx-core/src/scss/components/image-block/lumapps/_index.scss
  packages/lumx-react/src/components/image-block/ImageBlock.tsx
Labels: need: review-frontend

#301 Fix/popover select
  CHANGELOG.md
  packages/lumx-angularjs/src/components/dropdown/dropdown_directive.js
  packages/lumx-angularjs/src/components/dropdown/dropdown_service.js
  packages/lumx-react/src/components/dropdown/Dropdown.tsx
  packages/lumx-react/src/components/dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/lumx-react/src/components/popover/Popover.tsx
  packages/lumx-react/src/hooks/useComputePosition.tsx
Labels: need: test

#307 fix: dropdown focus trigger only on visibillity change
  CHANGELOG.md
  packages/lumx-react/src/hooks/useFocus.tsx
Labels: need: review-frontend, need: test

#312 fix(list): remove useless auto-focus on mount if is clickable (LUM-7678)
  CHANGELOG.md
  packages/lumx-react/src/components/list/List.tsx
Labels: need: review-frontend
