Repository lumapps/design-system, pull requests merged in 2022-09, with the labels that each got.

#877 feat(heading): create heading component
  CHANGELOG.md
  packages/lumx-react/src/components/heading/Heading.stories.tsx
  packages/lumx-react/src/components/heading/Heading.test.tsx
  packages/lumx-react/src/components/heading/Heading.tsx
  packages/lumx-react/src/components/heading/HeadingLevelProvider.tsx
  packages/lumx-react/src/components/heading/constants.ts
  packages/lumx-react/src/components/heading/context.tsx
  packages/lumx-react/src/components/heading/index.ts
  packages/lumx-react/src/components/heading/useHeadingLevel.tsx
  packages/lumx-react/src/index.ts
Labels: need: test

#875 fix(slideshow): improve accessibility
  CHANGELOG.md
  packages/lumx-core/src/scss/components/slideshow/_index.scss
  packages/lumx-react/src/components/slideshow/Slides.tsx
  packages/lumx-react/src/components/slideshow/Slideshow.stories.tsx
  packages/lumx-react/src/components/slideshow/Slideshow.tsx
  packages/lumx-react/src/components/slideshow/SlideshowControls.stories.tsx
  packages/lumx-react/src/components/slideshow/SlideshowControls.tsx
  packages/lumx-react/src/components/slideshow/SlideshowItem.tsx
  packages/lumx-react/src/components/slideshow/SlideshowItemGroup.tsx
  packages/lumx-react/src/components/slideshow/__snapshots__/Slideshow.test.tsx.snap
  packages/lumx-react/src/components/slideshow/useSlideFocusManagement.tsx
  packages/lumx-react/src/hooks/useRovingTabIndex.tsx
  packages/lumx-react/src/utils/focus/constants.ts
  packages/lumx-react/src/utils/focus/getFirstAndLastFocusable.ts
  packages/lumx-react/src/utils/focus/getFocusableElements.test.ts
  packages/lumx-react/src/utils/focus/getFocusableElements.ts
Labels: need: test, need: review-frontend

#878 chore(flexbox): adding options to valign and halign props to handle spacing more precisely
  CHANGELOG.md
  packages/lumx-core/src/scss/components/flex-box/_index.scss
  packages/lumx-react/src/components/flex-box/FlexBox.stories.tsx
  packages/lumx-react/src/components/flex-box/FlexBox.tsx
  packages/lumx-react/src/components/flex-box/__snapshots__/FlexBox.test.tsx.snap
  packages/lumx-react/src/components/index.ts
Labels: need: merge

#879 chore(release): release v3.0.2
  CHANGELOG.md
  dev-packages/eslint-plugin-lumapps/package.json
  dev-packages/ga-remove-label/package.json
  lerna.json
  packages/lumx-angularjs/package.json
  packages/lumx-core/package.json
  packages/lumx-icons/package.json
  packages/lumx-react/package.json
  packages/site-demo/package.json
  packages/yo-generators/package.json
  yarn.lock
Labels: need: review-frontend
